* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow-y: hidden;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 622px 66px #fff, 985px 344px #fff, 1792px 1893px #fff,
        246px 866px #fff, 327px 1566px #fff, 980px 1499px #fff,
        1886px 1408px #fff, 1746px 1483px #fff, 1373px 643px #fff,
        10px 864px #fff, 1607px 1192px #fff, 1150px 1794px #fff,
        1497px 136px #fff, 1479px 1485px #fff, 1423px 1646px #fff,
        30px 1198px #fff, 1556px 827px #fff, 1847px 1419px #fff,
        1709px 1878px #fff, 89px 926px #fff, 317px 822px #fff, 970px 750px #fff,
        532px 1787px #fff, 1379px 1630px #fff, 709px 825px #fff,
        757px 1244px #fff, 596px 1398px #fff, 246px 1149px #fff,
        1712px 1070px #fff, 1349px 1942px #fff, 628px 889px #fff,
        101px 135px #fff, 800px 972px #fff, 1958px 1882px #fff,
        1138px 538px #fff, 1704px 839px #fff, 580px 1428px #fff,
        310px 153px #fff, 999px 1697px #fff, 454px 1266px #fff,
        1392px 1508px #fff, 71px 997px #fff, 964px 1509px #fff,
        1382px 1930px #fff, 616px 611px #fff, 191px 475px #fff,
        615px 1806px #fff, 531px 1133px #fff, 1753px 758px #fff,
        1190px 1009px #fff, 1452px 150px #fff, 1558px 508px #fff,
        65px 1961px #fff, 796px 1000px #fff, 976px 108px #fff, 848px 938px #fff,
        107px 1592px #fff, 298px 248px #fff, 950px 95px #fff, 420px 357px #fff,
        1013px 1222px #fff, 1704px 1173px #fff, 870px 1147px #fff,
        1597px 363px #fff, 544px 328px #fff, 1775px 1506px #fff,
        47px 1217px #fff, 1945px 1976px #fff, 1472px 1979px #fff,
        1974px 1162px #fff, 728px 713px #fff, 1402px 875px #fff,
        989px 1838px #fff, 1411px 1005px #fff, 1182px 1699px #fff,
        1651px 411px #fff, 1684px 368px #fff, 1735px 1928px #fff,
        1673px 311px #fff, 1413px 57px #fff, 1801px 1549px #fff,
        12px 1482px #fff, 1839px 1239px #fff, 1681px 1715px #fff,
        530px 672px #fff, 817px 520px #fff, 670px 940px #fff, 240px 1232px #fff,
        704px 90px #fff, 847px 1440px #fff, 593px 1565px #fff, 18px 45px #fff,
        460px 1554px #fff, 916px 458px #fff, 785px 1481px #fff,
        1209px 553px #fff, 1893px 1266px #fff, 861px 167px #fff,
        956px 1160px #fff, 1009px 336px #fff, 1370px 421px #fff,
        1172px 1678px #fff, 1331px 1530px #fff, 1997px 381px #fff,
        259px 170px #fff, 1281px 1243px #fff, 686px 163px #fff,
        1987px 855px #fff, 667px 413px #fff, 1459px 1465px #fff,
        645px 962px #fff, 1546px 227px #fff, 461px 999px #fff, 1250px 642px #fff,
        1902px 814px #fff, 1111px 1941px #fff, 15px 320px #fff,
        1000px 1657px #fff, 263px 711px #fff, 1572px 943px #fff,
        942px 646px #fff, 235px 1698px #fff, 1301px 380px #fff,
        1641px 1416px #fff, 268px 1974px #fff, 1602px 1528px #fff,
        1838px 1551px #fff, 1860px 1850px #fff, 465px 1693px #fff,
        1841px 552px #fff, 600px 1842px #fff, 1622px 84px #fff,
        1588px 479px #fff, 884px 839px #fff, 786px 1612px #fff, 262px 538px #fff,
        1092px 437px #fff, 1161px 1891px #fff, 134px 275px #fff,
        1138px 337px #fff, 1288px 1338px #fff, 1328px 483px #fff,
        1637px 1251px #fff, 700px 1546px #fff, 117px 1938px #fff,
        1460px 1594px #fff, 867px 1941px #fff, 1152px 1018px #fff,
        1857px 877px #fff, 1069px 463px #fff, 59px 1042px #fff,
        1173px 1560px #fff, 454px 96px #fff, 739px 1243px #fff,
        1373px 541px #fff, 273px 314px #fff, 508px 232px #fff, 1006px 552px #fff,
        1795px 1003px #fff, 441px 477px #fff, 774px 437px #fff,
        365px 1825px #fff, 203px 1223px #fff, 685px 291px #fff,
        1603px 393px #fff, 378px 505px #fff, 887px 1061px #fff,
        1607px 193px #fff, 1333px 915px #fff, 1624px 562px #fff,
        994px 1445px #fff, 1597px 755px #fff, 528px 451px #fff,
        1777px 1850px #fff, 499px 754px #fff, 1533px 1354px #fff,
        1443px 1599px #fff, 212px 1741px #fff, 755px 1248px #fff,
        674px 734px #fff, 733px 1156px #fff, 422px 1029px #fff, 183px 350px #fff,
        1581px 1114px #fff, 31px 781px #fff, 1615px 61px #fff, 895px 855px #fff,
        1559px 1630px #fff, 1694px 724px #fff, 469px 327px #fff,
        322px 1035px #fff, 309px 844px #fff, 863px 863px #fff, 384px 16px #fff,
        994px 1201px #fff, 140px 892px #fff, 344px 1203px #fff,
        1055px 1446px #fff, 253px 257px #fff, 399px 121px #fff,
        1520px 489px #fff, 1033px 1859px #fff, 893px 1187px #fff,
        1219px 1542px #fff, 532px 1339px #fff, 101px 327px #fff,
        783px 1317px #fff, 359px 758px #fff, 987px 1909px #fff,
        1858px 727px #fff, 1818px 1960px #fff, 419px 939px #fff,
        838px 706px #fff, 757px 1538px #fff, 663px 496px #fff,
        1774px 1729px #fff, 865px 1571px #fff, 1813px 388px #fff,
        318px 1809px #fff, 838px 264px #fff, 224px 1367px #fff,
        597px 1243px #fff, 791px 609px #fff, 258px 1925px #fff,
        758px 1697px #fff, 1156px 472px #fff, 1542px 1351px #fff,
        1499px 776px #fff, 1452px 1034px #fff, 1923px 942px #fff,
        923px 139px #fff, 110px 1927px #fff, 1821px 579px #fff,
        1140px 1796px #fff, 474px 1453px #fff, 1468px 545px #fff,
        933px 1966px #fff, 58px 294px #fff, 956px 1146px #fff, 51px 1306px #fff,
        508px 1861px #fff, 1820px 487px #fff, 416px 623px #fff,
        1072px 978px #fff, 126px 842px #fff, 1843px 614px #fff,
        860px 1242px #fff, 307px 1689px #fff, 71px 1286px #fff,
        1002px 159px #fff, 264px 957px #fff, 1738px 1213px #fff,
        118px 1448px #fff, 1971px 338px #fff, 1656px 1626px #fff,
        741px 53px #fff, 614px 467px #fff, 219px 1735px #fff, 1624px 611px #fff,
        206px 297px #fff, 650px 650px #fff, 1911px 145px #fff,
        1452px 1880px #fff, 933px 981px #fff, 1681px 75px #fff, 519px 893px #fff,
        1686px 608px #fff, 718px 652px #fff, 1866px 301px #fff, 952px 735px #fff,
        1805px 392px #fff, 898px 1218px #fff, 969px 899px #fff,
        1777px 859px #fff, 237px 1684px #fff, 1299px 1107px #fff,
        1686px 258px #fff, 1996px 1441px #fff, 1922px 784px #fff,
        1043px 495px #fff, 1321px 612px #fff, 412px 156px #fff,
        1929px 1389px #fff, 1840px 1728px #fff, 235px 890px #fff,
        76px 1390px #fff, 26px 408px #fff, 276px 1836px #fff, 771px 809px #fff,
        639px 1397px #fff, 931px 23px #fff, 1406px 43px #fff, 968px 1190px #fff,
        668px 1147px #fff, 498px 774px #fff, 365px 1163px #fff, 673px 632px #fff,
        1520px 1016px #fff, 1364px 1011px #fff, 55px 1878px #fff,
        1584px 267px #fff, 1772px 1411px #fff, 1215px 348px #fff,
        78px 1436px #fff, 1691px 914px #fff, 1467px 668px #fff,
        1984px 1332px #fff, 1104px 1842px #fff, 7px 1439px #fff,
        1564px 1141px #fff, 1762px 252px #fff, 700px 1142px #fff,
        1050px 134px #fff, 775px 209px #fff, 454px 1468px #fff,
        1133px 145px #fff, 187px 1531px #fff, 210px 1647px #fff,
        423px 414px #fff, 1784px 193px #fff, 640px 143px #fff, 224px 1186px #fff,
        1602px 577px #fff, 1721px 1820px #fff, 919px 792px #fff,
        1560px 1409px #fff, 520px 1222px #fff, 1300px 828px #fff,
        1137px 1715px #fff, 1266px 680px #fff, 1935px 142px #fff,
        1660px 313px #fff, 1869px 1324px #fff, 1410px 1336px #fff,
        1643px 290px #fff, 49px 1389px #fff, 709px 397px #fff, 47px 1965px #fff,
        1849px 1755px #fff, 673px 1674px #fff, 546px 1949px #fff,
        1851px 1337px #fff, 1657px 475px #fff, 464px 657px #fff,
        1101px 1889px #fff, 1445px 1102px #fff, 1194px 1482px #fff,
        224px 230px #fff, 157px 1786px #fff, 1359px 942px #fff, 935px 950px #fff,
        1671px 1718px #fff, 117px 101px #fff, 102px 22px #fff, 112px 1738px #fff,
        422px 1187px #fff, 1717px 138px #fff, 109px 381px #fff,
        207px 1632px #fff, 417px 1758px #fff, 543px 351px #fff,
        1676px 163px #fff, 775px 128px #fff, 1436px 105px #fff, 616px 614px #fff,
        1967px 1824px #fff, 403px 1566px #fff, 1157px 1214px #fff,
        1681px 1374px #fff, 1314px 1766px #fff, 1164px 140px #fff,
        1410px 487px #fff, 874px 666px #fff, 947px 1018px #fff,
        1205px 433px #fff, 1093px 1420px #fff, 872px 1527px #fff,
        162px 42px #fff, 990px 58px #fff, 965px 1982px #fff, 560px 1353px #fff,
        850px 1075px #fff, 1266px 436px #fff, 867px 299px #fff,
        1511px 1723px #fff, 1657px 1316px #fff, 1079px 1310px #fff,
        1121px 789px #fff, 1101px 938px #fff, 1826px 709px #fff, 819px 77px #fff,
        274px 277px #fff, 968px 1231px #fff, 1270px 241px #fff,
        1410px 1734px #fff, 41px 1251px #fff, 893px 3px #fff, 1304px 1290px #fff,
        1907px 671px #fff, 670px 9px #fff, 1705px 891px #fff, 211px 890px #fff,
        1817px 632px #fff, 1345px 602px #fff, 877px 488px #fff,
        1283px 859px #fff, 870px 712px #fff, 51px 974px #fff, 228px 823px #fff,
        1686px 431px #fff, 429px 397px #fff, 911px 1885px #fff, 863px 444px #fff,
        1601px 291px #fff, 78px 1232px #fff, 1699px 1492px #fff,
        1599px 1279px #fff, 280px 1200px #fff, 674px 1838px #fff,
        33px 1075px #fff, 1266px 940px #fff, 1158px 1341px #fff,
        1725px 1054px #fff, 1643px 164px #fff, 279px 75px #fff,
        1255px 872px #fff, 1054px 1956px #fff, 680px 1264px #fff,
        1606px 626px #fff, 1930px 960px #fff, 1394px 363px #fff,
        114px 1831px #fff, 1312px 342px #fff, 1816px 1114px #fff,
        243px 1969px #fff, 62px 1019px #fff, 1746px 981px #fff, 719px 682px #fff,
        542px 982px #fff, 1923px 825px #fff, 1158px 170px #fff,
        1745px 236px #fff, 193px 1625px #fff, 1282px 1577px #fff,
        693px 1909px #fff, 1926px 260px #fff, 1616px 1299px #fff,
        1561px 909px #fff, 1102px 1871px #fff, 335px 328px #fff,
        1713px 1859px #fff, 42px 1719px #fff, 1740px 961px #fff,
        1816px 1371px #fff, 817px 1039px #fff, 283px 641px #fff,
        797px 1430px #fff, 678px 1677px #fff, 967px 567px #fff, 53px 1093px #fff,
        394px 36px #fff, 543px 1115px #fff, 1880px 571px #fff, 290px 1517px #fff,
        1579px 724px #fff, 290px 1618px #fff, 1348px 1877px #fff,
        704px 22px #fff, 553px 1973px #fff, 635px 1563px #fff,
        1461px 1716px #fff, 782px 670px #fff, 1094px 942px #fff,
        134px 1982px #fff, 1138px 719px #fff, 643px 1154px #fff,
        1316px 263px #fff, 1118px 323px #fff, 916px 1197px #fff,
        446px 875px #fff, 1220px 1806px #fff, 65px 1828px #fff, 1803px 62px #fff,
        1405px 375px #fff, 336px 369px #fff, 815px 1187px #fff,
        1147px 1407px #fff, 7px 741px #fff, 1802px 1831px #fff, 161px 130px #fff,
        1667px 1138px #fff, 687px 905px #fff, 510px 118px #fff, 372px 898px #fff,
        1782px 796px #fff, 858px 1613px #fff, 1269px 745px #fff,
        447px 1946px #fff, 1593px 1003px #fff, 332px 235px #fff,
        1892px 1435px #fff, 1660px 1840px #fff, 692px 1315px #fff,
        885px 1880px #fff, 1179px 1669px #fff, 1489px 995px #fff,
        1555px 1432px #fff, 1896px 1888px #fff, 553px 55px #fff, 366px 44px #fff,
        222px 549px #fff, 327px 1836px #fff, 981px 1731px #fff,
        1913px 1473px #fff, 960px 1060px #fff, 809px 1268px #fff,
        1604px 1802px #fff, 1001px 421px #fff, 515px 594px #fff,
        203px 1401px #fff, 1840px 1098px #fff, 279px 461px #fff,
        1002px 710px #fff, 1188px 81px #fff, 1554px 304px #fff, 449px 543px #fff,
        1408px 879px #fff, 1377px 622px #fff, 1902px 1834px #fff,
        1987px 251px #fff, 418px 42px #fff, 811px 1546px #fff, 1116px 529px #fff,
        99px 1897px #fff, 47px 1212px #fff, 1877px 1737px #fff,
        1612px 834px #fff, 80px 545px #fff, 689px 1641px #fff, 610px 1514px #fff,
        58px 1019px #fff, 1861px 1152px #fff, 1627px 343px #fff,
        266px 468px #fff, 1542px 1317px #fff, 1026px 731px #fff,
        101px 1053px #fff, 1778px 1707px #fff, 1746px 23px #fff,
        997px 427px #fff, 1376px 1592px #fff, 457px 1951px #fff, 5px 1867px #fff,
        1005px 1102px #fff, 1941px 28px #fff, 947px 21px #fff,
        1424px 1912px #fff, 32px 1168px #fff, 1174px 377px #fff, 819px 58px #fff,
        1445px 1447px #fff, 1608px 1678px #fff, 1332px 1717px #fff,
        1525px 570px #fff, 1441px 69px #fff, 545px 1967px #fff,
        1902px 1086px #fff, 1193px 107px #fff, 603px 371px #fff,
        1440px 71px #fff, 154px 834px #fff, 1648px 1785px #fff,
        908px 1813px #fff, 208px 1677px #fff, 483px 1999px #fff,
        273px 242px #fff, 1695px 1623px #fff, 283px 792px #fff, 140px 585px #fff,
        1396px 23px #fff, 1696px 1609px #fff, 726px 1695px #fff,
        1043px 1611px #fff, 543px 1354px #fff, 1082px 1842px #fff,
        1420px 1792px #fff, 1736px 336px #fff, 722px 889px #fff,
        151px 1415px #fff, 512px 1454px #fff, 1139px 231px #fff,
        1296px 153px #fff, 938px 316px #fff, 1655px 293px #fff,
        1210px 158px #fff, 1526px 1329px #fff, 544px 1776px #fff,
        1587px 680px #fff, 743px 1941px #fff, 1903px 674px #fff,
        704px 1518px #fff, 488px 1145px #fff, 1492px 330px #fff,
        1138px 358px #fff, 1961px 1618px #fff, 930px 721px #fff,
        786px 711px #fff, 543px 642px #fff, 996px 1142px #fff, 1133px 863px #fff,
        190px 1652px #fff, 651px 34px #fff, 550px 1666px #fff,
        1702px 1981px #fff, 1582px 834px #fff, 1577px 341px #fff,
        454px 1524px #fff, 1179px 838px #fff, 1173px 1879px #fff,
        1856px 1871px #fff, 601px 443px #fff, 1992px 1048px #fff,
        780px 483px #fff, 695px 1599px #fff, 878px 1592px #fff, 600px 103px #fff,
        1848px 1223px #fff, 1391px 1649px #fff, 886px 597px #fff,
        1533px 67px #fff, 322px 1439px #fff, 1871px 217px #fff,
        1879px 506px #fff, 1906px 925px #fff, 1770px 66px #fff,
        174px 1554px #fff, 260px 1322px #fff, 907px 1949px #fff,
        964px 853px #fff, 213px 293px #fff, 1537px 1542px #fff, 412px 437px #fff,
        1230px 217px #fff, 729px 1473px #fff, 794px 201px #fff,
        1432px 776px #fff, 1467px 217px #fff, 422px 1517px #fff,
        1301px 1315px #fff, 904px 1115px #fff, 1646px 1841px #fff,
        1424px 1810px #fff, 1415px 1693px #fff, 495px 660px #fff,
        1495px 220px #fff, 1057px 814px #fff, 197px 1651px #fff,
        434px 1269px #fff, 1464px 963px #fff, 1309px 202px #fff,
        275px 1168px #fff, 950px 1843px #fff, 1166px 1210px #fff,
        895px 1104px #fff, 555px 1243px #fff, 806px 1475px #fff,
        578px 1224px #fff, 151px 936px #fff, 726px 1828px #fff, 1383px 15px #fff,
        6px 1948px #fff, 1729px 1210px #fff, 660px 713px #fff, 182px 834px #fff,
        495px 1113px #fff, 772px 1494px #fff, 1683px 722px #fff,
        806px 1177px #fff, 830px 1884px #fff, 1075px 836px #fff,
        754px 491px #fff, 383px 404px #fff, 72px 881px #fff, 1498px 397px #fff,
        1206px 1483px #fff, 1505px 765px #fff, 1967px 598px #fff,
        1279px 241px #fff, 1893px 517px #fff, 597px 1244px #fff,
        1656px 1204px #fff, 577px 1539px #fff, 1923px 279px #fff,
        1667px 1524px #fff, 622px 1714px #fff, 1670px 35px #fff,
        1727px 1222px #fff, 1811px 1801px #fff, 1760px 839px #fff,
        941px 698px #fff;
    animation: animStar 50s linear infinite;
}
#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 622px 66px #fff, 985px 344px #fff, 1792px 1893px #fff,
        246px 866px #fff, 327px 1566px #fff, 980px 1499px #fff,
        1886px 1408px #fff, 1746px 1483px #fff, 1373px 643px #fff,
        10px 864px #fff, 1607px 1192px #fff, 1150px 1794px #fff,
        1497px 136px #fff, 1479px 1485px #fff, 1423px 1646px #fff,
        30px 1198px #fff, 1556px 827px #fff, 1847px 1419px #fff,
        1709px 1878px #fff, 89px 926px #fff, 317px 822px #fff, 970px 750px #fff,
        532px 1787px #fff, 1379px 1630px #fff, 709px 825px #fff,
        757px 1244px #fff, 596px 1398px #fff, 246px 1149px #fff,
        1712px 1070px #fff, 1349px 1942px #fff, 628px 889px #fff,
        101px 135px #fff, 800px 972px #fff, 1958px 1882px #fff,
        1138px 538px #fff, 1704px 839px #fff, 580px 1428px #fff,
        310px 153px #fff, 999px 1697px #fff, 454px 1266px #fff,
        1392px 1508px #fff, 71px 997px #fff, 964px 1509px #fff,
        1382px 1930px #fff, 616px 611px #fff, 191px 475px #fff,
        615px 1806px #fff, 531px 1133px #fff, 1753px 758px #fff,
        1190px 1009px #fff, 1452px 150px #fff, 1558px 508px #fff,
        65px 1961px #fff, 796px 1000px #fff, 976px 108px #fff, 848px 938px #fff,
        107px 1592px #fff, 298px 248px #fff, 950px 95px #fff, 420px 357px #fff,
        1013px 1222px #fff, 1704px 1173px #fff, 870px 1147px #fff,
        1597px 363px #fff, 544px 328px #fff, 1775px 1506px #fff,
        47px 1217px #fff, 1945px 1976px #fff, 1472px 1979px #fff,
        1974px 1162px #fff, 728px 713px #fff, 1402px 875px #fff,
        989px 1838px #fff, 1411px 1005px #fff, 1182px 1699px #fff,
        1651px 411px #fff, 1684px 368px #fff, 1735px 1928px #fff,
        1673px 311px #fff, 1413px 57px #fff, 1801px 1549px #fff,
        12px 1482px #fff, 1839px 1239px #fff, 1681px 1715px #fff,
        530px 672px #fff, 817px 520px #fff, 670px 940px #fff, 240px 1232px #fff,
        704px 90px #fff, 847px 1440px #fff, 593px 1565px #fff, 18px 45px #fff,
        460px 1554px #fff, 916px 458px #fff, 785px 1481px #fff,
        1209px 553px #fff, 1893px 1266px #fff, 861px 167px #fff,
        956px 1160px #fff, 1009px 336px #fff, 1370px 421px #fff,
        1172px 1678px #fff, 1331px 1530px #fff, 1997px 381px #fff,
        259px 170px #fff, 1281px 1243px #fff, 686px 163px #fff,
        1987px 855px #fff, 667px 413px #fff, 1459px 1465px #fff,
        645px 962px #fff, 1546px 227px #fff, 461px 999px #fff, 1250px 642px #fff,
        1902px 814px #fff, 1111px 1941px #fff, 15px 320px #fff,
        1000px 1657px #fff, 263px 711px #fff, 1572px 943px #fff,
        942px 646px #fff, 235px 1698px #fff, 1301px 380px #fff,
        1641px 1416px #fff, 268px 1974px #fff, 1602px 1528px #fff,
        1838px 1551px #fff, 1860px 1850px #fff, 465px 1693px #fff,
        1841px 552px #fff, 600px 1842px #fff, 1622px 84px #fff,
        1588px 479px #fff, 884px 839px #fff, 786px 1612px #fff, 262px 538px #fff,
        1092px 437px #fff, 1161px 1891px #fff, 134px 275px #fff,
        1138px 337px #fff, 1288px 1338px #fff, 1328px 483px #fff,
        1637px 1251px #fff, 700px 1546px #fff, 117px 1938px #fff,
        1460px 1594px #fff, 867px 1941px #fff, 1152px 1018px #fff,
        1857px 877px #fff, 1069px 463px #fff, 59px 1042px #fff,
        1173px 1560px #fff, 454px 96px #fff, 739px 1243px #fff,
        1373px 541px #fff, 273px 314px #fff, 508px 232px #fff, 1006px 552px #fff,
        1795px 1003px #fff, 441px 477px #fff, 774px 437px #fff,
        365px 1825px #fff, 203px 1223px #fff, 685px 291px #fff,
        1603px 393px #fff, 378px 505px #fff, 887px 1061px #fff,
        1607px 193px #fff, 1333px 915px #fff, 1624px 562px #fff,
        994px 1445px #fff, 1597px 755px #fff, 528px 451px #fff,
        1777px 1850px #fff, 499px 754px #fff, 1533px 1354px #fff,
        1443px 1599px #fff, 212px 1741px #fff, 755px 1248px #fff,
        674px 734px #fff, 733px 1156px #fff, 422px 1029px #fff, 183px 350px #fff,
        1581px 1114px #fff, 31px 781px #fff, 1615px 61px #fff, 895px 855px #fff,
        1559px 1630px #fff, 1694px 724px #fff, 469px 327px #fff,
        322px 1035px #fff, 309px 844px #fff, 863px 863px #fff, 384px 16px #fff,
        994px 1201px #fff, 140px 892px #fff, 344px 1203px #fff,
        1055px 1446px #fff, 253px 257px #fff, 399px 121px #fff,
        1520px 489px #fff, 1033px 1859px #fff, 893px 1187px #fff,
        1219px 1542px #fff, 532px 1339px #fff, 101px 327px #fff,
        783px 1317px #fff, 359px 758px #fff, 987px 1909px #fff,
        1858px 727px #fff, 1818px 1960px #fff, 419px 939px #fff,
        838px 706px #fff, 757px 1538px #fff, 663px 496px #fff,
        1774px 1729px #fff, 865px 1571px #fff, 1813px 388px #fff,
        318px 1809px #fff, 838px 264px #fff, 224px 1367px #fff,
        597px 1243px #fff, 791px 609px #fff, 258px 1925px #fff,
        758px 1697px #fff, 1156px 472px #fff, 1542px 1351px #fff,
        1499px 776px #fff, 1452px 1034px #fff, 1923px 942px #fff,
        923px 139px #fff, 110px 1927px #fff, 1821px 579px #fff,
        1140px 1796px #fff, 474px 1453px #fff, 1468px 545px #fff,
        933px 1966px #fff, 58px 294px #fff, 956px 1146px #fff, 51px 1306px #fff,
        508px 1861px #fff, 1820px 487px #fff, 416px 623px #fff,
        1072px 978px #fff, 126px 842px #fff, 1843px 614px #fff,
        860px 1242px #fff, 307px 1689px #fff, 71px 1286px #fff,
        1002px 159px #fff, 264px 957px #fff, 1738px 1213px #fff,
        118px 1448px #fff, 1971px 338px #fff, 1656px 1626px #fff,
        741px 53px #fff, 614px 467px #fff, 219px 1735px #fff, 1624px 611px #fff,
        206px 297px #fff, 650px 650px #fff, 1911px 145px #fff,
        1452px 1880px #fff, 933px 981px #fff, 1681px 75px #fff, 519px 893px #fff,
        1686px 608px #fff, 718px 652px #fff, 1866px 301px #fff, 952px 735px #fff,
        1805px 392px #fff, 898px 1218px #fff, 969px 899px #fff,
        1777px 859px #fff, 237px 1684px #fff, 1299px 1107px #fff,
        1686px 258px #fff, 1996px 1441px #fff, 1922px 784px #fff,
        1043px 495px #fff, 1321px 612px #fff, 412px 156px #fff,
        1929px 1389px #fff, 1840px 1728px #fff, 235px 890px #fff,
        76px 1390px #fff, 26px 408px #fff, 276px 1836px #fff, 771px 809px #fff,
        639px 1397px #fff, 931px 23px #fff, 1406px 43px #fff, 968px 1190px #fff,
        668px 1147px #fff, 498px 774px #fff, 365px 1163px #fff, 673px 632px #fff,
        1520px 1016px #fff, 1364px 1011px #fff, 55px 1878px #fff,
        1584px 267px #fff, 1772px 1411px #fff, 1215px 348px #fff,
        78px 1436px #fff, 1691px 914px #fff, 1467px 668px #fff,
        1984px 1332px #fff, 1104px 1842px #fff, 7px 1439px #fff,
        1564px 1141px #fff, 1762px 252px #fff, 700px 1142px #fff,
        1050px 134px #fff, 775px 209px #fff, 454px 1468px #fff,
        1133px 145px #fff, 187px 1531px #fff, 210px 1647px #fff,
        423px 414px #fff, 1784px 193px #fff, 640px 143px #fff, 224px 1186px #fff,
        1602px 577px #fff, 1721px 1820px #fff, 919px 792px #fff,
        1560px 1409px #fff, 520px 1222px #fff, 1300px 828px #fff,
        1137px 1715px #fff, 1266px 680px #fff, 1935px 142px #fff,
        1660px 313px #fff, 1869px 1324px #fff, 1410px 1336px #fff,
        1643px 290px #fff, 49px 1389px #fff, 709px 397px #fff, 47px 1965px #fff,
        1849px 1755px #fff, 673px 1674px #fff, 546px 1949px #fff,
        1851px 1337px #fff, 1657px 475px #fff, 464px 657px #fff,
        1101px 1889px #fff, 1445px 1102px #fff, 1194px 1482px #fff,
        224px 230px #fff, 157px 1786px #fff, 1359px 942px #fff, 935px 950px #fff,
        1671px 1718px #fff, 117px 101px #fff, 102px 22px #fff, 112px 1738px #fff,
        422px 1187px #fff, 1717px 138px #fff, 109px 381px #fff,
        207px 1632px #fff, 417px 1758px #fff, 543px 351px #fff,
        1676px 163px #fff, 775px 128px #fff, 1436px 105px #fff, 616px 614px #fff,
        1967px 1824px #fff, 403px 1566px #fff, 1157px 1214px #fff,
        1681px 1374px #fff, 1314px 1766px #fff, 1164px 140px #fff,
        1410px 487px #fff, 874px 666px #fff, 947px 1018px #fff,
        1205px 433px #fff, 1093px 1420px #fff, 872px 1527px #fff,
        162px 42px #fff, 990px 58px #fff, 965px 1982px #fff, 560px 1353px #fff,
        850px 1075px #fff, 1266px 436px #fff, 867px 299px #fff,
        1511px 1723px #fff, 1657px 1316px #fff, 1079px 1310px #fff,
        1121px 789px #fff, 1101px 938px #fff, 1826px 709px #fff, 819px 77px #fff,
        274px 277px #fff, 968px 1231px #fff, 1270px 241px #fff,
        1410px 1734px #fff, 41px 1251px #fff, 893px 3px #fff, 1304px 1290px #fff,
        1907px 671px #fff, 670px 9px #fff, 1705px 891px #fff, 211px 890px #fff,
        1817px 632px #fff, 1345px 602px #fff, 877px 488px #fff,
        1283px 859px #fff, 870px 712px #fff, 51px 974px #fff, 228px 823px #fff,
        1686px 431px #fff, 429px 397px #fff, 911px 1885px #fff, 863px 444px #fff,
        1601px 291px #fff, 78px 1232px #fff, 1699px 1492px #fff,
        1599px 1279px #fff, 280px 1200px #fff, 674px 1838px #fff,
        33px 1075px #fff, 1266px 940px #fff, 1158px 1341px #fff,
        1725px 1054px #fff, 1643px 164px #fff, 279px 75px #fff,
        1255px 872px #fff, 1054px 1956px #fff, 680px 1264px #fff,
        1606px 626px #fff, 1930px 960px #fff, 1394px 363px #fff,
        114px 1831px #fff, 1312px 342px #fff, 1816px 1114px #fff,
        243px 1969px #fff, 62px 1019px #fff, 1746px 981px #fff, 719px 682px #fff,
        542px 982px #fff, 1923px 825px #fff, 1158px 170px #fff,
        1745px 236px #fff, 193px 1625px #fff, 1282px 1577px #fff,
        693px 1909px #fff, 1926px 260px #fff, 1616px 1299px #fff,
        1561px 909px #fff, 1102px 1871px #fff, 335px 328px #fff,
        1713px 1859px #fff, 42px 1719px #fff, 1740px 961px #fff,
        1816px 1371px #fff, 817px 1039px #fff, 283px 641px #fff,
        797px 1430px #fff, 678px 1677px #fff, 967px 567px #fff, 53px 1093px #fff,
        394px 36px #fff, 543px 1115px #fff, 1880px 571px #fff, 290px 1517px #fff,
        1579px 724px #fff, 290px 1618px #fff, 1348px 1877px #fff,
        704px 22px #fff, 553px 1973px #fff, 635px 1563px #fff,
        1461px 1716px #fff, 782px 670px #fff, 1094px 942px #fff,
        134px 1982px #fff, 1138px 719px #fff, 643px 1154px #fff,
        1316px 263px #fff, 1118px 323px #fff, 916px 1197px #fff,
        446px 875px #fff, 1220px 1806px #fff, 65px 1828px #fff, 1803px 62px #fff,
        1405px 375px #fff, 336px 369px #fff, 815px 1187px #fff,
        1147px 1407px #fff, 7px 741px #fff, 1802px 1831px #fff, 161px 130px #fff,
        1667px 1138px #fff, 687px 905px #fff, 510px 118px #fff, 372px 898px #fff,
        1782px 796px #fff, 858px 1613px #fff, 1269px 745px #fff,
        447px 1946px #fff, 1593px 1003px #fff, 332px 235px #fff,
        1892px 1435px #fff, 1660px 1840px #fff, 692px 1315px #fff,
        885px 1880px #fff, 1179px 1669px #fff, 1489px 995px #fff,
        1555px 1432px #fff, 1896px 1888px #fff, 553px 55px #fff, 366px 44px #fff,
        222px 549px #fff, 327px 1836px #fff, 981px 1731px #fff,
        1913px 1473px #fff, 960px 1060px #fff, 809px 1268px #fff,
        1604px 1802px #fff, 1001px 421px #fff, 515px 594px #fff,
        203px 1401px #fff, 1840px 1098px #fff, 279px 461px #fff,
        1002px 710px #fff, 1188px 81px #fff, 1554px 304px #fff, 449px 543px #fff,
        1408px 879px #fff, 1377px 622px #fff, 1902px 1834px #fff,
        1987px 251px #fff, 418px 42px #fff, 811px 1546px #fff, 1116px 529px #fff,
        99px 1897px #fff, 47px 1212px #fff, 1877px 1737px #fff,
        1612px 834px #fff, 80px 545px #fff, 689px 1641px #fff, 610px 1514px #fff,
        58px 1019px #fff, 1861px 1152px #fff, 1627px 343px #fff,
        266px 468px #fff, 1542px 1317px #fff, 1026px 731px #fff,
        101px 1053px #fff, 1778px 1707px #fff, 1746px 23px #fff,
        997px 427px #fff, 1376px 1592px #fff, 457px 1951px #fff, 5px 1867px #fff,
        1005px 1102px #fff, 1941px 28px #fff, 947px 21px #fff,
        1424px 1912px #fff, 32px 1168px #fff, 1174px 377px #fff, 819px 58px #fff,
        1445px 1447px #fff, 1608px 1678px #fff, 1332px 1717px #fff,
        1525px 570px #fff, 1441px 69px #fff, 545px 1967px #fff,
        1902px 1086px #fff, 1193px 107px #fff, 603px 371px #fff,
        1440px 71px #fff, 154px 834px #fff, 1648px 1785px #fff,
        908px 1813px #fff, 208px 1677px #fff, 483px 1999px #fff,
        273px 242px #fff, 1695px 1623px #fff, 283px 792px #fff, 140px 585px #fff,
        1396px 23px #fff, 1696px 1609px #fff, 726px 1695px #fff,
        1043px 1611px #fff, 543px 1354px #fff, 1082px 1842px #fff,
        1420px 1792px #fff, 1736px 336px #fff, 722px 889px #fff,
        151px 1415px #fff, 512px 1454px #fff, 1139px 231px #fff,
        1296px 153px #fff, 938px 316px #fff, 1655px 293px #fff,
        1210px 158px #fff, 1526px 1329px #fff, 544px 1776px #fff,
        1587px 680px #fff, 743px 1941px #fff, 1903px 674px #fff,
        704px 1518px #fff, 488px 1145px #fff, 1492px 330px #fff,
        1138px 358px #fff, 1961px 1618px #fff, 930px 721px #fff,
        786px 711px #fff, 543px 642px #fff, 996px 1142px #fff, 1133px 863px #fff,
        190px 1652px #fff, 651px 34px #fff, 550px 1666px #fff,
        1702px 1981px #fff, 1582px 834px #fff, 1577px 341px #fff,
        454px 1524px #fff, 1179px 838px #fff, 1173px 1879px #fff,
        1856px 1871px #fff, 601px 443px #fff, 1992px 1048px #fff,
        780px 483px #fff, 695px 1599px #fff, 878px 1592px #fff, 600px 103px #fff,
        1848px 1223px #fff, 1391px 1649px #fff, 886px 597px #fff,
        1533px 67px #fff, 322px 1439px #fff, 1871px 217px #fff,
        1879px 506px #fff, 1906px 925px #fff, 1770px 66px #fff,
        174px 1554px #fff, 260px 1322px #fff, 907px 1949px #fff,
        964px 853px #fff, 213px 293px #fff, 1537px 1542px #fff, 412px 437px #fff,
        1230px 217px #fff, 729px 1473px #fff, 794px 201px #fff,
        1432px 776px #fff, 1467px 217px #fff, 422px 1517px #fff,
        1301px 1315px #fff, 904px 1115px #fff, 1646px 1841px #fff,
        1424px 1810px #fff, 1415px 1693px #fff, 495px 660px #fff,
        1495px 220px #fff, 1057px 814px #fff, 197px 1651px #fff,
        434px 1269px #fff, 1464px 963px #fff, 1309px 202px #fff,
        275px 1168px #fff, 950px 1843px #fff, 1166px 1210px #fff,
        895px 1104px #fff, 555px 1243px #fff, 806px 1475px #fff,
        578px 1224px #fff, 151px 936px #fff, 726px 1828px #fff, 1383px 15px #fff,
        6px 1948px #fff, 1729px 1210px #fff, 660px 713px #fff, 182px 834px #fff,
        495px 1113px #fff, 772px 1494px #fff, 1683px 722px #fff,
        806px 1177px #fff, 830px 1884px #fff, 1075px 836px #fff,
        754px 491px #fff, 383px 404px #fff, 72px 881px #fff, 1498px 397px #fff,
        1206px 1483px #fff, 1505px 765px #fff, 1967px 598px #fff,
        1279px 241px #fff, 1893px 517px #fff, 597px 1244px #fff,
        1656px 1204px #fff, 577px 1539px #fff, 1923px 279px #fff,
        1667px 1524px #fff, 622px 1714px #fff, 1670px 35px #fff,
        1727px 1222px #fff, 1811px 1801px #fff, 1760px 839px #fff,
        941px 698px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 948px 361px #fff, 1297px 1719px #fff, 1323px 1965px #fff,
        786px 1118px #fff, 1106px 1901px #fff, 878px 324px #fff,
        824px 942px #fff, 835px 891px #fff, 521px 945px #fff, 178px 1408px #fff,
        29px 1882px #fff, 1647px 990px #fff, 1008px 1937px #fff,
        530px 318px #fff, 1377px 1054px #fff, 555px 383px #fff,
        1155px 114px #fff, 1638px 1005px #fff, 985px 887px #fff,
        1322px 358px #fff, 1548px 1973px #fff, 947px 218px #fff,
        1089px 1152px #fff, 1811px 118px #fff, 1096px 1365px #fff,
        1346px 873px #fff, 57px 1799px #fff, 1400px 100px #fff,
        1523px 920px #fff, 129px 372px #fff, 642px 803px #fff, 214px 635px #fff,
        19px 1570px #fff, 1114px 476px #fff, 1579px 172px #fff, 338px 806px #fff,
        896px 1445px #fff, 454px 480px #fff, 1105px 1874px #fff,
        1731px 1770px #fff, 952px 1119px #fff, 913px 953px #fff,
        469px 1455px #fff, 1211px 1535px #fff, 245px 836px #fff,
        1220px 1042px #fff, 908px 1902px #fff, 247px 1415px #fff,
        1427px 1926px #fff, 1565px 1571px #fff, 161px 768px #fff,
        1570px 1360px #fff, 39px 1804px #fff, 228px 881px #fff,
        1216px 585px #fff, 1926px 4px #fff, 1996px 540px #fff,
        1634px 1113px #fff, 423px 916px #fff, 1429px 668px #fff, 1px 612px #fff,
        61px 800px #fff, 1394px 1295px #fff, 1448px 156px #fff,
        1766px 1128px #fff, 809px 401px #fff, 1681px 1844px #fff,
        601px 1100px #fff, 1165px 784px #fff, 930px 449px #fff,
        1146px 1244px #fff, 916px 824px #fff, 1686px 1852px #fff,
        505px 606px #fff, 1076px 1969px #fff, 110px 439px #fff,
        1387px 1654px #fff, 319px 1581px #fff, 1295px 1347px #fff,
        184px 1995px #fff, 1874px 1300px #fff, 422px 330px #fff,
        1929px 959px #fff, 1326px 1718px #fff, 1979px 875px #fff,
        685px 1638px #fff, 30px 469px #fff, 1645px 8px #fff, 692px 1389px #fff,
        173px 1562px #fff, 408px 187px #fff, 787px 1566px #fff, 1180px 61px #fff,
        852px 1471px #fff, 452px 1551px #fff, 1070px 1170px #fff,
        690px 64px #fff, 538px 1713px #fff, 1240px 360px #fff, 1060px 320px #fff,
        1225px 1167px #fff, 1419px 1714px #fff, 568px 502px #fff,
        878px 1883px #fff, 1312px 442px #fff, 1387px 498px #fff,
        766px 1732px #fff, 1588px 407px #fff, 150px 1406px #fff,
        818px 1752px #fff, 587px 650px #fff, 43px 64px #fff, 1389px 582px #fff,
        64px 1599px #fff, 1775px 1011px #fff, 932px 363px #fff,
        1698px 1548px #fff, 1547px 1763px #fff, 117px 1364px #fff,
        970px 836px #fff, 831px 561px #fff, 923px 1735px #fff, 1772px 206px #fff,
        1451px 1914px #fff, 936px 1444px #fff, 1557px 1472px #fff,
        943px 174px #fff, 866px 625px #fff, 902px 1865px #fff, 887px 352px #fff,
        989px 614px #fff, 478px 124px #fff, 317px 1551px #fff, 23px 1206px #fff,
        1275px 634px #fff, 780px 902px #fff, 417px 802px #fff, 252px 1893px #fff,
        49px 1856px #fff, 717px 596px #fff, 436px 483px #fff, 980px 890px #fff,
        791px 682px #fff, 1808px 513px #fff, 1869px 333px #fff, 155px 67px #fff,
        915px 1225px #fff, 123px 98px #fff, 1853px 1049px #fff, 1857px 97px #fff,
        729px 403px #fff, 542px 811px #fff, 1745px 783px #fff, 396px 1546px #fff,
        1560px 795px #fff, 1540px 1123px #fff, 1199px 1891px #fff,
        704px 1771px #fff, 1710px 1124px #fff, 733px 883px #fff,
        850px 1361px #fff, 1501px 459px #fff, 699px 969px #fff,
        759px 1777px #fff, 1396px 1235px #fff, 185px 1866px #fff,
        1605px 1199px #fff, 218px 419px #fff, 545px 983px #fff,
        1913px 322px #fff, 139px 729px #fff, 137px 585px #fff, 968px 300px #fff,
        665px 1163px #fff, 222px 550px #fff, 577px 1759px #fff, 579px 428px #fff,
        1069px 1830px #fff, 174px 1248px #fff, 1192px 1271px #fff,
        1089px 160px #fff, 190px 565px #fff, 1749px 1049px #fff,
        247px 1953px #fff, 1635px 831px #fff, 18px 1037px #fff,
        1546px 740px #fff, 1256px 1614px #fff, 295px 518px #fff,
        749px 1145px #fff, 760px 1700px #fff, 189px 741px #fff,
        831px 1442px #fff, 100px 1405px #fff, 1483px 535px #fff,
        1903px 474px #fff, 258px 1171px #fff, 1701px 1701px #fff,
        951px 411px #fff, 1327px 1872px #fff;
    animation: animStar 100s linear infinite;
}
#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 948px 361px #fff, 1297px 1719px #fff, 1323px 1965px #fff,
        786px 1118px #fff, 1106px 1901px #fff, 878px 324px #fff,
        824px 942px #fff, 835px 891px #fff, 521px 945px #fff, 178px 1408px #fff,
        29px 1882px #fff, 1647px 990px #fff, 1008px 1937px #fff,
        530px 318px #fff, 1377px 1054px #fff, 555px 383px #fff,
        1155px 114px #fff, 1638px 1005px #fff, 985px 887px #fff,
        1322px 358px #fff, 1548px 1973px #fff, 947px 218px #fff,
        1089px 1152px #fff, 1811px 118px #fff, 1096px 1365px #fff,
        1346px 873px #fff, 57px 1799px #fff, 1400px 100px #fff,
        1523px 920px #fff, 129px 372px #fff, 642px 803px #fff, 214px 635px #fff,
        19px 1570px #fff, 1114px 476px #fff, 1579px 172px #fff, 338px 806px #fff,
        896px 1445px #fff, 454px 480px #fff, 1105px 1874px #fff,
        1731px 1770px #fff, 952px 1119px #fff, 913px 953px #fff,
        469px 1455px #fff, 1211px 1535px #fff, 245px 836px #fff,
        1220px 1042px #fff, 908px 1902px #fff, 247px 1415px #fff,
        1427px 1926px #fff, 1565px 1571px #fff, 161px 768px #fff,
        1570px 1360px #fff, 39px 1804px #fff, 228px 881px #fff,
        1216px 585px #fff, 1926px 4px #fff, 1996px 540px #fff,
        1634px 1113px #fff, 423px 916px #fff, 1429px 668px #fff, 1px 612px #fff,
        61px 800px #fff, 1394px 1295px #fff, 1448px 156px #fff,
        1766px 1128px #fff, 809px 401px #fff, 1681px 1844px #fff,
        601px 1100px #fff, 1165px 784px #fff, 930px 449px #fff,
        1146px 1244px #fff, 916px 824px #fff, 1686px 1852px #fff,
        505px 606px #fff, 1076px 1969px #fff, 110px 439px #fff,
        1387px 1654px #fff, 319px 1581px #fff, 1295px 1347px #fff,
        184px 1995px #fff, 1874px 1300px #fff, 422px 330px #fff,
        1929px 959px #fff, 1326px 1718px #fff, 1979px 875px #fff,
        685px 1638px #fff, 30px 469px #fff, 1645px 8px #fff, 692px 1389px #fff,
        173px 1562px #fff, 408px 187px #fff, 787px 1566px #fff, 1180px 61px #fff,
        852px 1471px #fff, 452px 1551px #fff, 1070px 1170px #fff,
        690px 64px #fff, 538px 1713px #fff, 1240px 360px #fff, 1060px 320px #fff,
        1225px 1167px #fff, 1419px 1714px #fff, 568px 502px #fff,
        878px 1883px #fff, 1312px 442px #fff, 1387px 498px #fff,
        766px 1732px #fff, 1588px 407px #fff, 150px 1406px #fff,
        818px 1752px #fff, 587px 650px #fff, 43px 64px #fff, 1389px 582px #fff,
        64px 1599px #fff, 1775px 1011px #fff, 932px 363px #fff,
        1698px 1548px #fff, 1547px 1763px #fff, 117px 1364px #fff,
        970px 836px #fff, 831px 561px #fff, 923px 1735px #fff, 1772px 206px #fff,
        1451px 1914px #fff, 936px 1444px #fff, 1557px 1472px #fff,
        943px 174px #fff, 866px 625px #fff, 902px 1865px #fff, 887px 352px #fff,
        989px 614px #fff, 478px 124px #fff, 317px 1551px #fff, 23px 1206px #fff,
        1275px 634px #fff, 780px 902px #fff, 417px 802px #fff, 252px 1893px #fff,
        49px 1856px #fff, 717px 596px #fff, 436px 483px #fff, 980px 890px #fff,
        791px 682px #fff, 1808px 513px #fff, 1869px 333px #fff, 155px 67px #fff,
        915px 1225px #fff, 123px 98px #fff, 1853px 1049px #fff, 1857px 97px #fff,
        729px 403px #fff, 542px 811px #fff, 1745px 783px #fff, 396px 1546px #fff,
        1560px 795px #fff, 1540px 1123px #fff, 1199px 1891px #fff,
        704px 1771px #fff, 1710px 1124px #fff, 733px 883px #fff,
        850px 1361px #fff, 1501px 459px #fff, 699px 969px #fff,
        759px 1777px #fff, 1396px 1235px #fff, 185px 1866px #fff,
        1605px 1199px #fff, 218px 419px #fff, 545px 983px #fff,
        1913px 322px #fff, 139px 729px #fff, 137px 585px #fff, 968px 300px #fff,
        665px 1163px #fff, 222px 550px #fff, 577px 1759px #fff, 579px 428px #fff,
        1069px 1830px #fff, 174px 1248px #fff, 1192px 1271px #fff,
        1089px 160px #fff, 190px 565px #fff, 1749px 1049px #fff,
        247px 1953px #fff, 1635px 831px #fff, 18px 1037px #fff,
        1546px 740px #fff, 1256px 1614px #fff, 295px 518px #fff,
        749px 1145px #fff, 760px 1700px #fff, 189px 741px #fff,
        831px 1442px #fff, 100px 1405px #fff, 1483px 535px #fff,
        1903px 474px #fff, 258px 1171px #fff, 1701px 1701px #fff,
        951px 411px #fff, 1327px 1872px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1971px 1221px #fff, 1px 1651px #fff, 701px 510px #fff,
        137px 219px #fff, 647px 1727px #fff, 787px 461px #fff, 208px 1955px #fff,
        1432px 1806px #fff, 1151px 1339px #fff, 1603px 1424px #fff,
        825px 514px #fff, 1275px 400px #fff, 1466px 1587px #fff,
        1804px 1795px #fff, 1632px 1007px #fff, 383px 1969px #fff,
        408px 780px #fff, 346px 1177px #fff, 40px 850px #fff, 989px 1961px #fff,
        1212px 1030px #fff, 510px 167px #fff, 1764px 1346px #fff,
        416px 435px #fff, 761px 1662px #fff, 1066px 154px #fff, 428px 837px #fff,
        724px 1194px #fff, 898px 772px #fff, 371px 1270px #fff, 16px 1280px #fff,
        1962px 956px #fff, 1243px 1482px #fff, 111px 557px #fff,
        792px 493px #fff, 1643px 553px #fff, 1569px 167px #fff, 455px 559px #fff,
        872px 1038px #fff, 1006px 1932px #fff, 234px 445px #fff,
        678px 223px #fff, 298px 447px #fff, 134px 91px #fff, 417px 1116px #fff,
        601px 948px #fff, 1494px 1323px #fff, 169px 1603px #fff,
        330px 917px #fff, 596px 671px #fff, 1987px 1074px #fff,
        1248px 828px #fff, 707px 1555px #fff, 1623px 1243px #fff,
        667px 453px #fff, 802px 1653px #fff, 1440px 1887px #fff,
        673px 1906px #fff, 1603px 1834px #fff, 970px 1979px #fff,
        559px 1554px #fff, 1497px 1807px #fff, 1391px 526px #fff,
        937px 1715px #fff, 924px 412px #fff, 1980px 1769px #fff,
        1798px 1610px #fff, 1559px 638px #fff, 1018px 1139px #fff,
        1534px 1405px #fff, 158px 1839px #fff, 19px 639px #fff, 1997px 87px #fff,
        1289px 1870px #fff, 785px 1171px #fff, 1762px 349px #fff,
        1509px 1294px #fff, 593px 8px #fff, 1605px 975px #fff, 67px 1173px #fff,
        1328px 1928px #fff, 431px 122px #fff, 1051px 1079px #fff,
        1283px 114px #fff, 1483px 418px #fff, 454px 432px #fff,
        1027px 1393px #fff, 1797px 1937px #fff, 1482px 513px #fff,
        958px 622px #fff, 4px 1022px #fff, 163px 1814px #fff, 1571px 841px #fff,
        279px 1018px #fff, 978px 653px #fff, 1010px 357px #fff,
        670px 1441px #fff, 579px 1715px #fff, 347px 1733px #fff,
        991px 1278px #fff;
    animation: animStar 150s linear infinite;
}
#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1971px 1221px #fff, 1px 1651px #fff, 701px 510px #fff,
        137px 219px #fff, 647px 1727px #fff, 787px 461px #fff, 208px 1955px #fff,
        1432px 1806px #fff, 1151px 1339px #fff, 1603px 1424px #fff,
        825px 514px #fff, 1275px 400px #fff, 1466px 1587px #fff,
        1804px 1795px #fff, 1632px 1007px #fff, 383px 1969px #fff,
        408px 780px #fff, 346px 1177px #fff, 40px 850px #fff, 989px 1961px #fff,
        1212px 1030px #fff, 510px 167px #fff, 1764px 1346px #fff,
        416px 435px #fff, 761px 1662px #fff, 1066px 154px #fff, 428px 837px #fff,
        724px 1194px #fff, 898px 772px #fff, 371px 1270px #fff, 16px 1280px #fff,
        1962px 956px #fff, 1243px 1482px #fff, 111px 557px #fff,
        792px 493px #fff, 1643px 553px #fff, 1569px 167px #fff, 455px 559px #fff,
        872px 1038px #fff, 1006px 1932px #fff, 234px 445px #fff,
        678px 223px #fff, 298px 447px #fff, 134px 91px #fff, 417px 1116px #fff,
        601px 948px #fff, 1494px 1323px #fff, 169px 1603px #fff,
        330px 917px #fff, 596px 671px #fff, 1987px 1074px #fff,
        1248px 828px #fff, 707px 1555px #fff, 1623px 1243px #fff,
        667px 453px #fff, 802px 1653px #fff, 1440px 1887px #fff,
        673px 1906px #fff, 1603px 1834px #fff, 970px 1979px #fff,
        559px 1554px #fff, 1497px 1807px #fff, 1391px 526px #fff,
        937px 1715px #fff, 924px 412px #fff, 1980px 1769px #fff,
        1798px 1610px #fff, 1559px 638px #fff, 1018px 1139px #fff,
        1534px 1405px #fff, 158px 1839px #fff, 19px 639px #fff, 1997px 87px #fff,
        1289px 1870px #fff, 785px 1171px #fff, 1762px 349px #fff,
        1509px 1294px #fff, 593px 8px #fff, 1605px 975px #fff, 67px 1173px #fff,
        1328px 1928px #fff, 431px 122px #fff, 1051px 1079px #fff,
        1283px 114px #fff, 1483px 418px #fff, 454px 432px #fff,
        1027px 1393px #fff, 1797px 1937px #fff, 1482px 513px #fff,
        958px 622px #fff, 4px 1022px #fff, 163px 1814px #fff, 1571px 841px #fff,
        279px 1018px #fff, 978px 653px #fff, 1010px 357px #fff,
        670px 1441px #fff, 579px 1715px #fff, 347px 1733px #fff,
        991px 1278px #fff;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}
#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

.welcome_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: chocolate 1px solid;
    width: 100vw;
    padding: 10px;
}

.main-logo {
    width: 70px;
    height: 80px;
}

.yatra-font {
    font-weight: lighter;
    letter-spacing: 1px;
    margin-left: 10px;
    color: whitesmoke;
}

.slogan {
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 20px;
    font-size: 40px;
    color: whitesmoke;
}

.registration_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    background-color: rgb(250, 109, 15);
    border-radius: 20px;
    padding: 20px;
    border: lightslategray 1px solid;
}

.registration-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: white;
    font-weight: lighter;
}

#insert_details {
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: 20px;
    color: whitesmoke;
}
#input-data {
    margin-left: 10px;
}

input {
    width: 250px;
    height: 40px;
    margin: 5px;
    text-align: center;
    border-radius: 20px;
    font-weight: lighter;

    font-size: 18px;
    letter-spacing: 2px;
}
.submit_btn {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: lighter;
}
.submit_btn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.login_page {
    margin-top: 20px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.login_page1 {
    text-decoration: none;
    color: rgb(8, 247, 247);
}
.login_page1:hover {
    color: rgb(250, 109, 15);
}

.login-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flightdata-container {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    letter-spacing: 2px;
}

.app-navbar {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: orangered 2px solid;
    color: white;
    text-decoration: none;
}

.app_main {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: white;
}

.app_logo {
    width: 80px;
    height: 90px;
}

.search-people {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
h5 {
    margin-top: 10px;
}
.entername {
    margin-top: 10px;
}

.search-table {
    margin-top: 20px;
}

table {
    width: 100vw;

    overflow-y: scroll;
}

th,
td {
    text-align: center;
    width: 200px;
}
th {
    font-size: 16px;
    background-color: rgb(255, 113, 47);
    color: whitesmoke;
}

td {
    font-size: 15px;
    font-weight: lighter;
}

table,
th,
td {
    border: 1px solid orangered;
    border-collapse: collapse;
    padding: 5px;
}

.data {
    width: 500px;
    height: 400px;
    border: 1px solid orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 20px;
}

.details {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 5px;
}

.travelrs-name {
    margin-top: 10px;
}

.date-time {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.flight {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thankyou {
    text-decoration: underline;
    font-weight: lighter;
    color: orangered;
}

.det {
    font-weight: lighter;
    color: orangered;
}

.details-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details_form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    border: 1px solid orangered;
    padding: 30px;
    margin-top: 20px;
    color: white;
    border-radius: 20px;
}

.upload_btn {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: lighter;
}
.upload_btn:hover {
    background-color: rgb(247, 101, 3);
    color: white;
}

.chat-title {
    border: orangered 2px solid;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 115, 36);
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -350px;
}
.chat-title1 {
    border: black 2px solid;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 1.5px;
}
.img-message {
    text-align: center;
    padding: 10px;
}

.chat-container {
    height: 300px;
    width: 600px;
    overflow-y: scroll;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border: black 2px solid;
}

.chat-text {
    height: 50px;
    width: 600px;
    text-align: left;
    font-family: sans-serif;
    justify-content: center;
    padding: 5px;
    letter-spacing: 1px;
    font-size: 15px;
    border: black 2px solid;
}

.chat-msg {
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 10px;
    font-size: 15px;
}

.one {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.sendbtn1 {
    width: 200px;
    height: 50px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 20px;
    color: orangered;
}

.sendbtn1:hover {
    background-color: red;
    color: white;
}

.delete-para {
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
}

.sendbtn2,
.sendbtn3 {
    width: 200px;
    height: 30px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.sendbtn2:hover {
    background-color: red;
}
.sendbtn3:hover {
    background-color: lightblue;
}

.deletemodal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.del-modalbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
